[buildout]
develop = .
parts = clonedigger test
versions = versions
extends =
    http://dist.plone.org/release/4.0.1/versions.cfg
    http://good-py.appspot.com/release/dexterity/1.0b1?plone=4.0.1
    http://eggs.mooball.net/buildout/testing.cfg

[versions]


[test]
recipe = collective.xmltestreport
eggs = mooball.viewlets.contacform[tests]
defaults = ['--exit-with-status', '--auto-color', '--auto-progress']
